/* GOOGLE FONTS IMPORT */

/* BARLOW CONDENSED - FONT FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600&display=swap');

/* MONTSERRAT - FONT FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* UNIVERSAL SELECTOR USED TO OVERRIDE DEFAULT STYLES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES */
body {
    min-height: 100vh;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* GENERIC PROJECT STYLES */
    color: #272325;
    font-family: 'Montserrat', sans-serif;
}

/* HEADER FONT STYLES */
.barlow-condensed-semibold {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* P FONT TEST */
p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} 

header, main, footer {
    flex-shrink: 0;
}

/* HEADER */
header {
    background-color: #ffffff;
    /* padding: 0.1em 0.2rem; */
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0px 4px 3px -3px #e08826;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
    letter-spacing: 0.5px;
    color: #000000;
    margin-top: 5px;
    margin-right: 0.1em;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

/* NAV BAR STYLES */

.active {
    background-color: #e0882680;
}

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0px 4px 3px -3px #e08826;
    display: none;
    top: 100%;
}

/* NAV BAR TOGGLE FUNCTION */

#nav-toggle:checked>header {
    box-shadow: none;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.75rem;
    margin-top: 9px;
    padding-left: 1rem;
}

li {
    justify-content: space-between
}

a {
    text-decoration: none;
}

/* MAIN CONTENT */
main {
    background-color: #ffffff;
    flex-grow: 1;
    margin-top: 43px;
}

/* HERO SECTION */
#hero-section {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.jpg") no-repeat center center/cover;
}

/* THREE COLUMN SECTION */
.three-equal-columns {
    width: 33.33%;
    height: 200px;
    padding: 10px;
    margin: 1em;
    background-color: #e0882670;
    text-align: center;
}

.container {
    display: flex;
}

.three-equal-columns p {
    font-size: 0.75em;
}

.three-equal-columns a {
    color: #000000;
}

/* CONTACT US PAGE */
#contact-heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 0.7px;
    line-height: 25px;
    text-transform: uppercase;
}

i {
    font-size: 1.8em;
    letter-spacing: 0.7px;
    line-height: 25px;
}

#contact-section {
    background-image: url("../images/contact-form-image.jpg");
    background-size: cover;
    background-position: 30%;
    padding: 1em 1em 1em 1em;
    flex-grow: 1;
}

#contact-form {
    color: #FFFFFF;
    background-color: rgba(0,0,0,0.11);
    padding: 15px 40px 15px 15px;
}

.text-input {
    border-radius: 5px;
    padding: 0 5px;
    margin: 5px 0 7px 0;
}
.submit-button {
    border-radius: 5px;
    perspective: 1px;
    background-color: #66E6E6;
    padding: 9px 18px;
    color: #000000;
}

/* EXPAND-COLLAPSE LIST (SHOP PAGE) */

.shop-headings {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-size: 1.8em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 5px 60px;
    padding-left: 0.5em;
    width: 20%;
}

.m-d.expand-list {
	margin: 0 85px;
	padding: 0;
}
.m-d.expand-list > li {
	list-style-type: none;
	padding: 15px 0;
	border-bottom: 1px solid #212121;
	position: relative;
	/*         max-width: 80%; */
}
.m-d label[class^="tab"]:hover {
	cursor: pointer;
}
.m-d input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.m-d input[class^="tab"] {
	width: 100%;
	height: 40px;
	position: absolute;
	left: 0;
	top: 0;
}
.m-d input[class^="tab"]:hover {
	cursor: pointer;
}
.m-d label[class^="tab"] {
	font-weight: bold;
}
.m-d .content {
	height: auto;
	max-height: 0;
	max-width: 1500px;
	/*        background: yellow;*/
	overflow: hidden;
	transform: translateY(20px);
	transition: all 180ms ease-in-out 0ms;
}
.m-d li[data-md-content="100"] input[class^="tab"]:checked ~ .content {
	max-height: 100px;
	transition: all 150ms ease-in-out 0ms;
}
.m-d li[data-md-content="200"] input[class^="tab"]:checked ~ .content {
	max-height: 200px;
	transition: all 200ms ease-in-out 0ms;
}
.m-d li[data-md-content="300"] input[class^="tab"]:checked ~ .content {
	max-height: 300px;
	transition: all 250ms ease-in-out 0ms;
}
.m-d li[data-md-content="400"] input[class^="tab"]:checked ~ .content {
	max-height: 400px;
	transition: all 250ms ease-in-out 0ms;
}
.m-d li[data-md-content="500"] input[class^="tab"]:checked ~ .content {
	max-height: 500px;
	transition: all 250ms ease-in-out 0ms;
}
.m-d li[data-md-content="600"] input[class^="tab"]:checked ~ .content {
	max-height: 600px;
	transition: all 250ms ease-in-out 0ms;
}
.m-d li[data-md-content="700"] input[class^="tab"]:checked ~ .content {
	max-height: 700px;
	transition: all 300ms ease-in-out 0ms;
}
.m-d li[data-md-content="800"] input[class^="tab"]:checked ~ .content {
	max-height: 800px;
	transition: all 300ms ease-in-out 0ms;
}
.m-d li[data-md-content="900"] input[class^="tab"]:checked ~ .content {
	max-height: 900px;
	transition: all 300ms ease-in-out 0ms;
}
.m-d li[data-md-content="1000"] input[class^="tab"]:checked ~ .content {
	max-height: 1000px;
	transition: all 350ms ease-in-out 0ms;
}
.m-d li[data-md-content=""] input[class^="tab"]:checked ~ .content {
	max-height: 1000px;
	transition: all 250ms ease-in-out 0ms;
}
.m-d input[class^="tab"]:checked ~ .content {
	margin-bottom: 20px;
}

.m-d .open-close-icon {
	display: inline-block;
	position: absolute;
	right: 20px;
	transform: translatey(2px);
}
.m-d .open-close-icon i {
	position: absolute;
	left: 0;
}
.m-d .open-close-icon .fa-minus {
	transform: rotate(-90deg);
	transition: transform 150ms ease-in-out 0ms;
}
.m-d input[class^="tab"]:checked ~ .open-close-icon .fa-minus {
	transform: rotate(0deg);
	transition: transform 150ms ease-in-out 0ms;
}
.m-d .open-close-icon .fa-plus {
	opacity: 1;
	transform: rotate(-90deg);
	transition: opacity 50ms linear 0ms, transform 150ms ease-in-out 0ms;
}
.m-d input[class^="tab"]:checked ~ .open-close-icon .fa-plus {
	opacity: 0;
	transform: rotate(0deg);
	transition: opacity 50ms linear 0ms, transform 150ms ease-in-out 0ms;
}

* {
	line-height: 1.4;
	font-family: "Montserrat", sans-serif;
}

/* FOOTER */
/*footer {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: auto;
    background-color: #e0882680;
    padding: 0.5em 1rem;*/

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    background-color:#e0882697;
    padding: 60px;
}

.f-container {
    max-width: 1153px;
    background-color: #e08826;
    margin: auto;
}

.footer ul {
    list-style: none;
}

.footer-column {
    width: 33.33%;
    padding: 5px 15px;
}

.footer-column h4 {
    font-size: 18px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2.35px;
    margin-bottom: 20px;
}

/* SOCIAL MEDIA LINKS */
#socials {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#socials a {
    color: #000000;
    font-size: 2em;
}

/* MEDIA QUERY - MOBILE SCREENS (max width 767px) */
@media screen and (max-width:767px) {
    
    header {
        position: relative;
        justify-content: center;
        z-index: 100;
    }

    main {
        margin-top: 0;
    }

    .shop-headings {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 500;
        font-size: 1.5em;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin: auto;
        padding: 0;
        width: 80%;
    }

    .m-d.expand-list {
        margin: 0 0.5em;
        padding: 0;
    }
}

/* MEDIA QUERY - TABLET SCREENS (768px and larger) */
@media screen and (min-width:768px) {

    .sticky-header {
        position: sticky;
        justify-content: center;
        top: 0;
        z-index: 100;
    }

    header h1 {
        font-size: 2.8rem;
    }

    nav {
        display: block;
    }
    
    .nav-toggle-label {
        display: none;
    }

    #menu {
        display: flex;
        justify-content: center;
        font-size: 110%;
        letter-spacing: 1px;
        list-style-type: none;
    }

    #menu > li {
        display: flex; 
        padding: 0 1em;
    }

     /* HIGHLIGHT NAV BAR LINKS WHEN HOVERED OVER */
     #menu a:hover {
        background-color: #e0882660;
    }

    .shop-headings {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 500;
        font-size: 1.5em;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin: 5px 50px;
        padding-left: 0.5em;
        width: 40%;
    }

    .m-d.expand-list {
        margin: 0 9%;
        padding: 0;
    }
}

/* MEDIA QUERY - LAPTOPS & DESKTOPS (992px and larger) */
@media screen and (min-width:992px) {
    .sticky-header {
        position: sticky;
        justify-content: center;
        top: 0;
        z-index: 100;
    }

    #home-page main {
        margin-top: 0.5em;
    }

    #contact-page main {
        margin-top: 5.5em;
    }

    header h1 {
        font-size: 2.8rem;
    }

    nav {
        display: block;
    }
    
    .nav-toggle-label {
        display: none;
    }

    #menu {
        display: flex;
        justify-content: center;
        font-size: 110%;
        letter-spacing: 1px;
        list-style-type: none;
    }

    #menu > li {
        display: flex; 
        padding: 0 1em;
    }

     /* HIGHLIGHT NAV BAR LINKS WHEN HOVERED OVER */
     #menu a:hover {
        background-color: #e0882660;
    }

    .shop-headings {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 500;
        font-size: 1.8em;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin: 10px 60px;
        padding: 0;
        width: 30%;
    }
    
    .m-d.expand-list {
        margin: 0 85px;
        padding: 0;
}

/* MEDIA QUERY - WIDER SCREEN DESKTOPS (1800px and larger) */
@media screen and (min-width:1800px) {
    .sticky-header {
        position: sticky;
        justify-content: center;
        top: 0;
        z-index: 100;
    }

    #home-page main {
        margin-top: 0.5em;
    }

    #contact-page main {
        margin-top: 5.5em;
    }

    header h1 {
        font-size: 2.8rem;
    }

    nav {
        display: block;
    }
    
    .nav-toggle-label {
        display: none;
    }

    #menu {
        display: flex;
        justify-content: center;
        font-size: 110%;
        letter-spacing: 1px;
        list-style-type: none;
    }

    #menu > li {
        display: flex; 
        padding: 0 1em;
    }

     /* HIGHLIGHT NAV BAR LINKS WHEN HOVERED OVER */
     #menu a:hover {
        background-color: #e0882660;
    }

    .shop-headings {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 500;
        font-size: 1.8em;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin: 20px 70px;
        padding: 0;
        width: 20%;
    }
    
    .m-d.expand-list {
        margin: 0 95px;
        padding: 0;
}