/* GOOGLE FONTS IMPORT */

/* BARLOW CONDENSED - FONT FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

/* MONTSERRAT - FONT FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* UNIVERSAL SELECTOR USED TO OVERRIDE DEFAULT STYLES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* GENERIC PROJECT STYLES */
    color: #272325;
    font-family: 'Montserrat', sans-serif;
}

header, main, footer {
    flex-shrink: 0;
}

/* HEADER */
header {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    padding: 0 1rem;
    z-index: 100;
    box-shadow: 0 0 0 0.1em #000000;
}

ul {
    list-style-type: none;
    font-size: 110%;
    letter-spacing: 1px;
    padding: 1rem 0;
}

a {
    text-decoration: none;
}

.active {
    background-color: rgb(102, 230, 230, .5)
}

#logo {
    font-size: 300%;
}

/* HEADER FONT STYLES */
.barlow-condensed-semibold {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

/* MAIN CONTENT */
main { 
    background-color:moccasin;
    flex-grow: 1;
}

/* FOOTER */
footer {
    background-color: aqua;
}

/* H1 FONT TEST */
  h1 { 
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  /* P FONT TEST */
  p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  
 
  

  