/* GOOGLE FONTS IMPORT */

/* BARLOW CONDENSED - FONT FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap');

/* MONTSERRAT - FONT FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* UNIVERSAL SELECTOR USED TO OVERRIDE DEFAULT STYLES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* GENERIC PROJECT STYLES */
    color: #272325;
    font-family: 'Montserrat', sans-serif;
}

/* HEADER FONT STYLES */
.barlow-condensed-semibold {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* P FONT TEST */
p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} 

header, main, footer {
    flex-shrink: 0;
}

/* HEADER */
header {
    background-color: #ffffff;
    /* padding: 0.1em 0.2rem; */
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0px 4px 3px -3px #e08826;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
    letter-spacing: 0.5px;
    color: #000000;
    margin-top: 5px;
    margin-right: 0.1em;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

/* NAV BAR STYLES */

.active {
    background-color: #e0882680;
}

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0px 4px 3px -3px #e08826;
    display: none;
    top: 100%;
}

/* NAV BAR TOGGLE FUNCTION */

#nav-toggle:checked>header {
    box-shadow: none;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.75rem;
    margin-top: 9px;
}

li {
    justify-content: space-between
}

a {
    text-decoration: none;
}

/* MAIN CONTENT */
main {
    background-color: #ffffff;
    flex-grow: 1;
    margin-top: 61px;
}

/* FOOTER */
footer {
    background-color: #e0882680;
    padding: 0.5em 1rem;

    /* SOCIAL MEDIA LINKS */
    #socials {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
    }

    #socials a {
        color: #000000;
        font-size: 2em;
    }
}

/* MEDIA QUERY - TABLET SCREENS (768px and larger) */
@media screen and (min-width:768px) {

    header {
        position: relative;
        justify-content: center;
        padding: 0.2em;
    }

    header h1 {
        font-size: 2.8rem;
    }

    nav {
        display: block;
    }
    
    .nav-toggle-label {
        display: none;
    }

    #menu {
        display: flex;
        justify-content: center;
        font-size: 110%;
        letter-spacing: 1px;
        list-style-type: none;
    }

    #menu > li {
        display: flex; 
        padding: 0 1em;
    }

     /* HIGHLIGHT NAV BAR LINKS WHEN HOVERED OVER */
     #menu a:hover {
        background-color: #e0882660;
    }
}

/* MEDIA QUERY - LAPTOPS & DESKTOPS (992px and larger) 
@media screen and (min-width:992px) */